.u-section-1 .u-sheet-1 {
  min-height: 1195px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 71px auto 0 16px;
}

.u-section-1 .u-list-1 {
  margin-top: 35px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 1037px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px 30px;
}

.u-section-1 .u-image-1 {
  --radius: 10px;
  width: 268px;
  height: 180px;
  margin: 0 846px 0 6px;
}

.u-section-1 .u-text-2 {
  margin: -105px 0 0 333px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px 30px;
}

.u-section-1 .u-image-2 {
  --radius: 10px;
  width: 268px;
  height: 180px;
  margin: 0 846px 0 6px;
}

.u-section-1 .u-text-3 {
  margin: -105px 0 0 333px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px 30px;
}

.u-section-1 .u-image-3 {
  --radius: 10px;
  width: 268px;
  height: 180px;
  margin: 0 846px 0 6px;
}

.u-section-1 .u-text-4 {
  margin: -105px 0 0 333px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: 652px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 133px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 652px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 133px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: 652px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: 133px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: 432px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 432px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: 432px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 73px;
    margin-right: 252px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 252px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 252px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 79px;
    margin-right: 52px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 52px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 52px;
  }
}